@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap');

*{
   margin: 0px;
}




:root{ /*para globais*/
    --azul-dn: #0c70f2;
    --preto-dn: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'Inter';
}


#body{
    margin: 0px auto; /*margin externa*/
    padding: 0px; /*margin interna*/
    background-color: #303030;


}


#menuprincipal{
    width: 100%;
    height: 100px;
    
    
    background-color: var(--preto-dn);
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BABABA;
}


#menuprincipal div a{
    font-size: 19px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}

#menuprincipal div a:hover{
    color: var(--cinza-hover);

}

#menuprincipal button{
    margin-right: 5%;
    background-color: var(--azul-dn);
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600px;
    color: white;
    box-shadow: 3px 2px 4px 0px #0C70F240;
    cursor: pointer;
}

#menu{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    background-color: #303030;
}

/* Sessao principal */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    color: white;
    font-family: var(--fonte-padrao);
}

header h1{
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 20px;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
}


/* Formulario */

form{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style form */ 

form input{
    border-radius: 10px;
    height: 30px;
    border: 0;
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.90);

}

form label{
    margin: 10px 0px 10px 0px;
}

#sec{
    background-color: var(--preto-dn);
    margin-top: -0.5px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 19.91%, rgba(12, 112, 242, 0.00) 24.84%), #303030;
    padding-top: 150px;
    padding: 100px;
   
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.50);
}

.checkbox label{
    font-size: 25px;
    
}

.checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.8);
}

input[type="submit"]{
    background-color: var(--azul-dn);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: white;
     margin-top: 100px;
     box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/*Footer*/

footer{
    width: 100%;
    background-color: var(--azul-dn);
    margin-top: -100px;
    padding-top: 100px;
   
}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer h5{
    margin-top: -1px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 17px;
    font-family: var(--fonte-padrao);
    background-color: var(--preto-dn);
    border-radius: 10px;


    padding: 0px 10px 0px 10px;
    margin-bottom: 15px;
}

footer ul li{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: var(--fonte-padrao);

    margin: 10px 10px 10px 10px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

footer ul li a:hover{
    color: var(--cinza-hover);
}

footer .endereço{
    font-family: var(--fonte-padrao);
    font-size: 18px;
    color: white;
    font-weight: 600;
    width: 20%;
    text-align: center;
    margin-top: -100px;
}

footer .linha2{
    height: 45px;
    display: flex;
    justify-content: center;
    margin:0;
    padding: 10px;
}
footer .linha2 a{
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;
    
}

footer .linha a:first-child{
    border-right: 2px solid white;
}
footer .linha2 a:hover{
    color: var(--cinza-hover);
}

@media only screen and (max-width: 600px){

    #menuprincipal{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
       
    }

    #menuprincipal button{
        width: 100%;
        margin: 0px;
    }

    /* section */

    section h1{
    font-size: 38px;
    margin-top: -50px;
    }

    section h2{
        font-size: 20px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
        padding: 0;
    }

    form{
        width: 95%;
        font-size: 20px;
    
    }

    .checkbox label{
        font-size: 14px;
        align-items: center;
        padding: 25px;
    }

    footer .linha1{
        flex-direction: column;
    }

    footer .endereço{
        width: 95%;
        margin-bottom: 20px;
    }

}